{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
	Compte des requêtes
{% endblock %}

{% block main %}
	{% if is_granted('ROLE_SUPER_ADMIN') %}
		<div class="card mt-4">
			<div class="card-header">
				<h3 class="card-title">Statistiques d'exécution</h3>
			</div>
			<div class="card-body">
				<div class="row">
					{% if execution_counts|length == 0 %}
						<div class="col-12 text-center py-5">
							<p class="text-muted">Aucune donnée disponible</p>
						</div>
					{% else %}
						{% for item in execution_counts %}
							<div class="col-md-4 mb-3">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">{{ item.type|capitalize }}</h5>
										<p class="card-text text-center">
											<strong>{{ item.count }}</strong>
										</p>
									</div>
								</div>
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	{% else %}
		<div style="color: red; font-weight: 600; text-align:center;font-size:45px;">Vous n'avez pas accès a ce statistique</div>
	{% endif %}
{% endblock %}
